.top-panel {
	border: 10px groove orange;
	background-color: #ffff00;
	text-align: left;
	text-transform: uppercase;
	color: orange;
	text-decoration: none;
}

.just2{
	width: 700px;
}

.just h2{
	border: 7px groove orange;
	padding: 10px;
	margin: 0;
	font-size: 60px;
	background-color: #ffff00;
	text-align: center;
}

.just h3{
	font-size: 50px;
	margin-left: 30px;
}

.just p{
	margin-left: 25px;
	font-size: larger;
}

.just img{
	border: 7px dashed #ffff00;
}


.skills ul li {
	color: orange;
	text-align: left;
	list-style-type: none;
	padding: 3px;
	font-size: 20px;
}


main {
	display: flex;
	align-items:baseline;
	color: orange;
}

html {
	background-color: rgba(0,0,255, 0.5);
}
a {
	text-decoration: none;
	color: orange;
}